@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;

    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}


.btn-outline-success {
    
    background: #745cf9 !important;
    color: #fff !important;
    
}
.btn-outline-success:hover{
    background: #5cf983!important;
    color: #000000!important;
    transition: .4s ease-out; 
}
.container-fluid {
    background: transparent !important;
}

.nav-link {
    color: #4c4c4c !important;
}

.nav-link {
    text-align: center;
}

header {

    height: 100vh;
    background: url('../img/headerBg.jpg')center/cover fixed;

}

.headmain {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 77px);
}

.headmain {
    text-align: center;
    height: calc(100vh - 77px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.headmain h1 {
    color: #fff;
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 24px;
}

.headmain div p {
    color: #fff;
    font-size: 12px;
    margin-bottom: 24px;
}

.headmain .btn {
    display: inline-block;
    min-width: 200px;
    line-height: 24px;
    padding: 13px 26px;
    border: 2px solid #745cf9;
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: normal;
    transition: .3s ease;
    cursor: pointer;
}

.headmain .btnb {
    background-color: #745cf9;
    border-color: #745cf9;
}

.headmain .btna {
    border: 1px solid white;
}

.headmain .btna:hover {
    background: #fff;
    color: black;
}

.headmain .btnb:hover {
    background: #5ca0f9;
    color: #fff;
}

main {
    background-color: white;
    margin: auto;
    min-height: 100vh;
}

section {
padding: 80px 15px;
}



#bportfl .secimg {
    margin: 20px 0 0 0;
  }
#bportfl  {
    background: #f5f5f5;
  }
 .sections img {
    width: 100%;
}

#bseofrnd p,#bportfl p{
    color: #8c979e;
  font-size: 0.7em;
  line-height: 1.5;
  padding: 24px 0;
}
.sections a {
    text-decoration: none;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: #745cf9;
    color: #fff;
}
#smlbg p{font: 300 0.8em/ 1.5 Raleway;}
#bgparlx{
    height: 60vh;
  background: url("../img/bg2.jpg") center/cover;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
}
#bgparlx p{

font-size: 0.7em;
line-height: 1.5;
padding: 24px 0;
}
#bgparlx p {
  
    max-width: 650px;
    padding: 30px 0;
 
  }
#bgparlx a{
    padding: 15px 26px;
    margin: 0 0 10px 0;
    text-decoration: none;
    text-align: center;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    min-width: 200px;
    height: 50px;
    background: #745cf9;
    color: #fff;
}
.team {
    background: #fff;}
#bgmont {
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#bgmont,
h1 {
    font: 32px;
    color: #4c4c4c;

}

#bgmont img {
    width: 100%;
    padding: 40px 0 0 0;
}

#bgmont p {

    text-align: center;
    font-size: 0.8rem;
    ;
    color: #4c4c4c;

}

#bgmont a {
    text-decoration: none;
    text-align: center;
    font-family: inherit;
    font: 12px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background: #745cf9;
    color: #fff;
}

#bgimg {
    background: url('../img/bg2.jpg')center/cover;
    height: auto;

}


.imagedown img {
    width: 100%;
    object-fit: contain;
}

#project p {
    padding: 30px 0;
}

#project {

    color: #fff;
    padding: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#projgallery img {
    object-fit:  cover;
    width: 100%;
    height: 100%;
}

.proj-container {
    position: relative;
}

.projtext {
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    
    opacity:0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
    font: 24px arial;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);


}

.proj-container:hover .projtext {
    top: 0;
    opacity: 1;
}

.projtext-txt {
    color: white;
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


#person-slider {
    background: url('../img/bg4jpg.jpg')center/cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}
#person-slider p{
    margin: 24px 40px;
    font-size: .9em;
}
#person-slider img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px 0;

}

.team {
    padding: 80px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #4c4c4c;
    font-size: 24px;
}

.clintimg img {
    width: 70px;
    margin: 60px;
    filter: opacity(60%);
}

.clintimg img:hover {
    filter: opacity(100%);

}

.mainbottom {
    padding: 80px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.mainbottom a {
    margin-bottom: 24px;
    text-decoration: none;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50px;
    background: #745cf9;
    color: #fff;

}

footer {

    background: #0e1015;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: row;

}

.footbot {
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.social {
    margin-top: 20px;
    display: flex;
    flex-direction: row;

}

.social a {
    font-size: 18px;
    margin: 10px;
    color: #fff;
    text-decoration: none;
}

.social a:hover {
    color: #745cf9;
    transition: .2s;
}

@media only screen and (min-width: 768px) {

    h1 {
        font-size: 60px;
        line-height: 64px;
    }
    .btn-outline-success:hover{ scale: 1.1;}


    .sections {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    .sections p {
        font-size: 0.9em;
      }
.sectimgs45{width: 45%;}
.wtxt30{width:30%;}

   .section{
    padding: 80px 15px;
   }
   #bgparlx p{

    margin: auto;
   }
    #bgmont p {
        width: 50%;
    }

    #bgmont img {
        max-width: 70%;
        object-fit: contain;
        padding: 30px 30px 0 30px;
    }


    .imagedown {
        padding: 50px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .imagedown img {
        width: 90%;
        padding: 40px 40px 0 40px;
    }



    #person-slider p {
        margin: 24px 100px;
      }
    #projgallery {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    

    .proj-container {
        width: 25%;
        height: 250px;
    }

    #projgallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .clintimg img:hover {
        transition: .5s ease;
        filter: opacity(100%);
        scale:1.1;
    }

    .mainbottom {
        display: flex;
        flex-direction: row;
        width: 100%;

    }

    .maintop {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mainbottom a {
        margin: 24px auto;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 50px;
        background: #745cf9;
        color: #fff;

    }

    footer {
        display: flex;
        align-items: center;
        flex-direction: row;

    }

    .footbot {
        padding: 0 0;
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 70%;
    }

    .footbot .foottop {

        display: flex;
        margin: auto;
        width: 100%;

    }

    .foottop h6 {
        font-size: 14px;
    }

    .social {
        margin: 50px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }


}